@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Cinzel:wght@400..900&display=swap');

*{
    margin: 0;
    padding: 0;
}


html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
.pulsar{
    animation: pulse 2s infinite linear;
    
}
.rotaco{
    animation: rotate 7s  infinite linear;
    transform-origin: center;
}
@keyframes pulse{
    0%, 100% {
       transform: scale(1);
    }
    50%{
        transform: scale(0.7);
    }
}
@keyframes rotate {
    from{
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg);
    }
}
.blurbg {
    filter: blur(3px);

}
@media (max-width: 390px){
    
}

.scroll{
    clip-path: inset(0 82% 0 0);
    transition: clip-path 2s ease-in-out;
    z-index: 35;
}

.scroll.open{
    clip-path: inset(0 0 0 0 );
}
@keyframes pulsar{
    0%,100%{
       transform: scale(1);
    }
    50%{
       transform: scale(1.1);
    }
}
.pulsar{
    animation: pulsar 2s infinite linear;
}
.fonte{
    font-family: "Cinzel Decorative", serif;
}
.gradiantecustom{
    background: linear-gradient(to bottom,rgba(0, 0, 0, 0.0)30% , black 75%);
}